
<div style="min-height: 600px;width: 100%;">
    <bold-report-viewer id="viewer"
                        processing-mode="Remote" parameter-settings="ViewBag.parameterSettings"
                        report-path="@ViewBag.ReportFileName"
                        parameters="ViewBag.parameters"
                        report-service-url="/api/ReportViewer">
    </bold-report-viewer>
</div>