@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h4 style="color : steelblue">অভিনন্দন মোল্লাপাড়া যুবসংগঠন</h4>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <a href="@Url.Action("Members","Home")" id="customA">
                <div class="card-body">
                    <h6>সদস্যের তথ্য</h6>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <a href="@Url.Action("Collection","Home")" id="customA">
                <div class="card-body">
                    <h6>জমার বিবরণ</h6>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
       <div class="card">
            <a href="@Url.Action("Expense","Home")" id="customA">
                <div class="card-body">
                    <h6>খরচের বিবরণ</h6>
                </div>
            </a>
       </div>
    </div>
</div>
