html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#customA {
    text-decoration: none;
    color: white;
}

#customA:hover{
    color: black;
    background-color: white;
}

.card {
    width: 100%; /* Allow the card to expand within its container */
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden; /* Ensure the image fits within the card */
    __position: relative; /* Add positioning context for absolute positioning */
}

    .card img {
        max-width: 100%; /* Set the maximum width of the image to fill the card */
        max-height: 400px; /* Set the maximum height of the image to fill the card */
        width: auto; /* Allow the image to adjust its width based on its aspect ratio */
        height: auto; /* Allow the image to adjust its height based on its aspect ratio */
        display: block;
        margin: auto;
    }

#customDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0px;
}

#blackCard {
    background-color: black !important;
    color: white !important;
}

#blueCard {
    background-color: darkblue !important;
    color: white !important;
}

#greenCard {
    background-color: forestgreen !important;
    color: white !important;
}